@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&display=swap');

:root {
    --cor-primaria: #FF577F;
    --cor-primariaspan: #FF577F;
    --cor-secundaria: #F6F6F6;
    --cor-background: rgb(41, 41, 41);
    --cor-footer-text: #B9B9B9;

    --button-color:var(--cor-primaria);

    --opacity-background: 0.1;

    --fonte-primaria: "Do Hyeon", sans-serif/*"Acme", sans-serif*/;
    --fonte-secundaria: "Lato", sans-serif/*"Indie Flower", sans-serif*/;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-background)
}

.dark-mode {
    /*--cor-primaria: #FF577F;
    --cor-secundaria: #1a1a1a;
    --cor-background: rgb(179, 179, 179);
    --cor-footer-text: #1a1a1a;
    --opacity-background: .2;*/
    --cor-primaria: #FF9494;
    --cor-secundaria: #FF9494;
    --cor-background: #FFF5E4;
    --cor-footer-text: #1a1a1a;
    --cor-primariaspan: #393E46;
    --button-color: #B9B9B9;
    --opacity-background: .2;
    
}

.light-mode {
    --cor-primaria: #FF577F;
    --cor-primariaspan: #FF577F;
    --cor-secundaria: #F6F6F6;
    --cor-background: rgb(41, 41, 41);
    --cor-footer-text: #B9B9B9;
    --button-color: var(--cor-primaria);
}

.button__color {
    display: flex;
}

.dark__mode__icon {
    max-width: 20px;
    background-color: var(--button-color);
    border-radius: 50%;
}

.light__mode__icon {
    max-width: 20px;
    background-color: var(--button-color);
    border-radius: 50%;
}

button {
    display: flex;
    margin: .5rem 0 0 2rem;
    border-radius: 50%;
    max-width: 30px;
    max-height: 30px;
    background-color: #ffffff;
}

#arrow__page{
    max-width: 30px;
    max-height: 30px;
    position:fixed;
    left: 97%;
    margin-top: 3%;
    background-color: var(--cor-primaria);
    border-radius: 50%;    
}

/*CSS REFERENTE AO BACKGROUND DA PÁGINA HOME*/
.portfolio::before {
    content: ""; /*propriedade obrigatoria quando usado ::before ou ::after*/
    position: fixed; /*nos permitir deixar ele do mesmo tamanho do elemento .portfolio e deixar o texto sobreposto*/
    inset: 0; /*equivale à top: 0; right: 0; bottom: 0; left: 0 para o tamanho da imagem*/
    background-image: url("Código\ 1.png");
    background-size: cover; /*para fazer com que a imagem ocupe toda a área sem distorcer e sem repetir*/
    background-position: bottom;
    z-index: -1; /*pra forçar a imagem a ir "pra baixo" do texto*/
    opacity: var(--opacity-background);
}

/*CSS REFERENTE AO NAVEGATION DA PÁGINA HOME*/
.portfolio__header__nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    /*position: fixed;*/
    top: 0; /* Define a posição superior como 0 */
    left: 0; /* Define a posição esquerda como 0 */
    width: 100%; /* Define a largura como 100% da tela */
    z-index: 999; /* Define um alto índice z para garantir que o menu fique sobreposto a outros elementos */
}

.portfolio__header__nav__icon {
    display: flex;
    align-items: center;
    gap: .2rem;
}

/*[data-context="underline"] {
    border-bottom:.2rem solid var(--cor-primaria);
}*/

.icon__nav {
    width: 20px;
}

.text__nav {
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 24px;
}

/*CSS REFERENTE AO CONTEÚDO PRINCIPAL DA PÁGINA HOME*/
span {
    color: var(--cor-primariaspan);
    animation: fadeInFadeOut 1s linear infinite;
}

.portfolio__main {
    display: flex;
    flex-direction: column;
    gap: 13rem;
}

.portfolio__main__content {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin: .5rem 0rem 0rem 8rem;
    justify-content: space-around;
    color: var(--cor-secundaria);
    width: 60%;
}

.portfolio__content__index{
    display: flex;
    flex-direction: row;
}

.portfolio__content__habilidades{
    display: flex;
    flex-direction: row;
}

.portfolio__content__projetos{
    display: flex;
    flex-direction: row;
}

.portfolio__main__content__text__title {
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-size: 36px;
    margin-bottom: 2rem;
    overflow: hidden;
    animation: type 2s steps(60, end);
}

.portfolio__main__content__text__title:nth-child(2){
    animation: type2 8s steps(60, end);

}

@keyframes type{ 
    from { opacity: 0; } 
  } 
  
@keyframes type2{
    0% { 
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 100; 
    } 
} 


#nome__autor::after {
    content: "👓";
    animation: piscar 1s infinite;
}

#habilidades::after {
    content: "🎮";
    animation: piscar 1s infinite;
}

#projetos::after {
    content: "💻";
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.portfolio__main__content__text__info {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-align:justify;
}

/*CSS REFERENTE AOS LINKS DA PÁGINA HOME*/
.portfolio__main__content__links {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    text-align: center;
    align-items: center;
}

.portfolio__main__content__links__title {
    font-family: var(--fonte-primaria);
    font-size: 24px;
    margin-bottom: 1rem;
}

.portfolio__main__content__links__link {
    border: .13rem solid var(--cor-primaria);
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 75%;
    animation: fadeInFadeOut 3s linear infinite;
}

@keyframes fadeInFadeOut {
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}

.icon__text__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    margin: .8rem .0rem;
    gap: .5rem;
}

.text__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.portfolio__main__content__links__project {
    display: flex;
    gap: 2rem;
    margin: 4rem 10rem 0 0;
}

.portfolio__main__content__links__link__project {
    border: .13rem solid var(--cor-primaria);
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 75%;
}

.body__line{
    margin-top: .5rem;
    border: .1rem solid var(--cor-primaria);
    opacity: 30%;
}

/*CSS REFERENTE A IMAGEM DA PAGINA HOME*/
.portfolio__main__image {
    display: flex;
    margin: 5rem 8rem 0rem 2rem;
    gap: 2rem;
}

.portfolio__main__image__project {
    display: flex;
    margin: 8rem 8rem 0rem 2rem;
    gap: 2rem;
}

.portfolio__image {
    max-width: 400px;
    max-height: 450px;
    border-radius: 4%;
}

.portfolio__image__border {
    position: absolute;
    z-index: -1;
    width: 375px;
    height: 380px;
    border: .3rem solid var(--cor-primaria);
    border-radius: 4%;
    margin: -1rem 0rem 0rem 2rem;
    animation: fadeInFadeOut 3s linear infinite;
}

.portfolio__image__include {
    max-width: 400px;
    max-height: 400px;
}

.portfolio__image__include__border {
    position: absolute;
    z-index: -1;
    width: 340px;
    height: 340px;
    box-shadow: -1rem 4rem .5rem 20px var(--cor-primaria);
    border-radius:50%;
    margin: -1rem 0rem 0rem 2rem;
    animation: fadeInFadeOut 3s linear infinite;
}

.portfolio__image__include__portfolio {
    max-width: 320px;
    max-height: 320px;
}

.portfolio__image__include__border__portfolio {
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 200px;
    border: .3rem solid var(--cor-primaria);
    border-radius: 4%;
    margin: -12.7rem 0rem 0rem 1.4rem;
    animation: fadeInFadeOut 3s linear infinite;
}

/*CSS REFERENTE AO FOOTER DA PAGINA HOME*/
.footer__line {
    margin: 5rem 0 1.5rem 0;
    border: .1rem solid var(--cor-primaria);
    opacity: 30%;
}

.portfolio__footer {
    display: flex;
    flex-direction: column;
}

.footer__image {
    width: 7%;
    align-self: center  ;
    margin-bottom: 1.5rem;
}   

.footer__text {
    align-self: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-footer-text);
    font-weight: 36;
    font-size: 13px;
    margin-bottom: .5rem;
}

/*@media only screen and (max-width: 768px)*/@media (max-width: 1092px) {
    
    

    #arrow__page{
        max-width: 20px;
        max-height: 20px;
        position:fixed;
        left: 23rem;
        margin-top: 25%;
        background-color: var(--cor-primaria);
        border-radius: 50%;    
    }

    .text__nav{
        content-visibility: hidden;
    }

    .icon__nav{
        width: 25px;
    }

    .portfolio__main {
      flex-direction: column;
      gap: 5rem;
      justify-content: left;
      align-items: center;
    }

    .portfolio__content__index{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .portfolio__content__habilidades{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .portfolio__content__projetos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio__header__nav {
        display: flex;
        justify-content: center;
        gap: 6rem;
        margin-top: 3rem;
    }

    .portfolio__main__content {
        justify-content: center;
        margin-top: 0rem;
        margin: 2rem 0rem 0rem 0rem;
        justify-content: space-around;
        color: var(--cor-secundaria);
        width: 80%;
        gap: 2rem;
    }

    .portfolio__main__image {
        justify-content: center;
        margin: 2rem 0 0 0;
    }
    
    .portfolio__image {
        max-width: 400px;
        max-height: 450px;
        border-radius: 4%;
    }
    
    .portfolio__image__border {
        position: absolute;
        z-index: -1;
        width: 375px;
        height: 430px;
        border: .3rem solid var(--cor-primaria);
        border-radius: 4%;
        margin: -1rem 0rem 0rem 2rem;
    }

    .portfolio__main__image__project {
        flex-direction: column;
        margin: 0rem 0rem 0rem 0rem;
        gap: 2rem;
        align-items: center;
    }

    .footer__image {
        width: 12%;
        align-self: center  ;
        margin-bottom: 1rem;
    }  
    
    .body__line{
        margin: 5rem 0 1.5rem 0;
        border: .1rem solid var(--cor-primaria);
        opacity: 30%;
        width: 100%;
    }

    .footer__line{
        margin: 5rem 0 1.5rem 0;
        border: .1rem solid var(--cor-primaria);
        opacity: 30%;
    }

}
